params {
    samplesheet = "samplesheet.csv"

    benchmark_hvgs = 100
    scshc = false
    entropy = true
    cell_cycle = true
    leiden_resolutions = [0.5, 1]

    celltypist_model = "Cells_Intestinal_Tract.pkl"
    integration_methods = ["scvi", "scanvi", "harmony", "desc", "combat"]

    max_cpus = 4
    max_memory = "12G"
    max_time = "6.h"
}

process {
    executor = "local"
}