params {
    samplesheet = "samplesheet.csv"

    benchmark_hvgs = 100
    scshc = true
    entropy = false
    cell_cycle = true

    celltypist_model = "Cells_Intestinal_Tract.pkl"
    integration_methods = ["scvi", "scanvi", "harmony", "scanorama", "desc", "combat"]

    max_cpus = 20
    max_memory = "100G"
    max_time = "6.h"
}