params {
    leiden_resolutions = [0.25, 0.5, 0.75, 1, 1.5, 2]
    entropy = false
    entropy_initial_smoothness = 0.5
}

process {
    withName: ENTROPY {
        ext.when = { params.entropy }
    }
}

profiles {
    build {
        params.mode = "build"
        includeConfig "modes/build.config"
        includeConfig "modes/build-extend.config"
    }

    extend {
        params.mode = "extend"
        includeConfig "modes/extend.config"
        includeConfig "modes/build-extend.config"
    }

    sub {
        params.mode = "sub"
        includeConfig "modes/sub.config"
    }

    gpu {
        apptainer.runOptions = "--nv"

        process {
            withLabel: "gpu" {
                ext.use_gpu = true
            }
        }
    }
}