profiles {
    build {
        params.mode = "build"
        includeConfig "modes/build.config"
        includeConfig "modes/build-extend.config"
    }

    extend {
        params.mode = "extend"
        includeConfig "modes/extend.config"
        includeConfig "modes/build-extend.config"
    }

    sub {
        params.mode = "sub"
        includeConfig "modes/sub.config"
    }
}