process {
    withName: CELLTYPIST {
        ext.when = { params.celltypist_model }
    }

    withName: CELL_CYCLE {
        ext.when = { params.cell_cycle }
    }

    withName: SCSHC_CLUSTERING {
        ext.when = { params.scshc }
    }

    withName: SCSHC_CLUSTERING_QC {
        ext.when = { params.scshc }
    }

    withName: ENTROPY {
        ext.when = { params.entropy }
    }

    withName: BENCHMARK_INTEGRATIONS {
        ext.when = { params.benchmark_hvgs > 0 }
    }
}