params {
    samplesheet = null
    celltypist_model = null
    min_cells = 50
    cell_cycle = true
    custom_hvgs = []
    integration_hvgs = 10000
    benchmark_hvgs = 0

    normalization_method = "log_total"
    upset_only = false
    decontX = true

    has_celltypes = true
    custom_metadata = []
}

process {
    withName: CELLTYPIST {
        ext.when = { params.celltypist_model != null }
    }

    withName: CELL_CYCLE {
        ext.when = { params.cell_cycle }
    }

    withName: BENCHMARK_INTEGRATIONS {
        ext.when = { params.benchmark_hvgs > 0 }
    }

    withName: MERGE_DATASETS {
        ext.when = { !params.upset_only }
    }
}