params {
    integration_methods = ["scvi", "scanvi", "harmony", "scgen", "scanorama", "bbknn", "combat", "trvaep"]
    custom_hvgs = []
    integration_hvgs = 10000
    benchmark_hvgs = 0
}

profiles {
    gpu {
        withLabel: "gpu" {
            withName: ".*:INTEGRATE_(SCVI|GPU)" {
                ext.use_gpu = true
            }
        }
    }
}